Source: neon-meta
Section: metapackages
Priority: optional
Maintainer: Neon Developers <neon@kde.org>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 7.0.8), germinate (>= 1.18)
Vcs-Browser: http://packaging.neon.kde.org.uk/cgit/neon/seeds.git/
Vcs-Git: git clone git://packaging.neon.kde.org.uk/neon/seeds

Package: neon-desktop
Architecture: any
Depends: ${germinate:Depends}, ${misc:Depends}
Recommends: ${germinate:Recommends}
Description: Neon Plasma Desktop system
 This package depends on a sensible desktop for Neon. Installing this
 package will include the default Plasma Desktop.
 .
 This package is also used by the updater to upgrade to new versions.

Package: neon-live
Architecture: any
Depends: ${germinate:Depends}, ${misc:Depends}
Recommends: ${germinate:Recommends}
Description: Neon Live system
 Used to make Neon live images, this metapackage is of no use on an
 installed system.

Package: neon-all
Architecture: any
Depends: ${germinate:Depends}, ${misc:Depends}
Recommends: ${germinate:Recommends}
Description: All Applications Built in KDE neon
 A meta package to install all applications built as part of KDE neon.
