#! /usr/bin/make -f

export DH_VERBOSE=1

override_dh_auto_clean:
	rm -fv *-amd64 \
		*-armhf \
		*-arm64 \
		*.old \
		debootstrap-version
	dh_auto_clean

%:
	# only run update during build target. build-arch is used for
	# bin-only builds (as done on arm platforms)
	if [ "$@" = "build" ] || [ "$@" = "build-arch" ]; then \
		./update_in_container; \
	fi
	dh $@ --with germinate
